{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}Register{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <div class="col-lg-6 mt-3 offset-lg-3 shadow-lg p-5">
      <h1 class="text-center h3">{% trans "Sign Up" %}</h1>
      {% if form.errors %}
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endfor %}
      {% endif %}
      <form class="signup my-5" id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <h2 class="form-label d-block text-center lead">
            {{ form.username.label_tag }}
          </h2>
          {{ form.username|as_crispy_field }}
        </div>
        <div class="mb-3">
          <h2 class="form-label d-block text-center lead">
              Password:
          </h2>
          {{ form.password1|as_crispy_field }}
        </div>
        <div class="mb-3">
          <h2 class="form-label d-block text-center lead">
              Confirm Password:
          </h2>
          {{ form.password2|as_crispy_field }}
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup btn-success w-100" type="submit">{% trans "Sign Up" %}</button>
      </form>
      <p>{% blocktrans %}<a class="link m-4 float-end details-link" href="{{ login_url }}">Sign In</a>{% endblocktrans %}</p>
    </div>
  </div>
</div>
{% endblock %}