body{
  background: #fafafa;
  min-height: 100vh;
}

#logo-svg {
  width: 2rem;
  fill: #fff;
  animation: rotateAnimation 3s infinite linear;
}
  
/* Logo animation */
@keyframes rotateAnimation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

/* Edit goal */
.edit-create-form {
  width: 60%;
}

/* Delete goal */
.delete-icon {
  width: 1.2rem;
  cursor: pointer;
}

.delete-icon:hover {
  transform: scale(1.2);
}

/* Footer */
footer a {
  display: inline-block;
  margin: 2rem;
  width: 2rem;
}

footer a:hover .social-svg {
  fill: rgba(255, 255, 255, 0.3);
}

.social-svg {
  fill: #fff;
  width: 100%
}
