html {
  min-height: 100%;
}

body{
  background: #fafafa;
  min-height: 100vh;
}

header {
  z-index: 99;
  min-height: 8vh;
}

header nav {
  z-index: 99;
  min-height: 8vh;
}

#main {
  min-height: 92vh;
}

#goals-board .card-header {
  min-height: 90px;
}

#tasks-container .card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.task-card {
  box-shadow: 0 0 4px #000000;
}

.create_panel {
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 60px
}

.create_btn {
  position: absolute;
  height: 40px;
  top: 10px;
  right: 10px;
}

.tasks-toggler {
  color: #000000;
}

a {
  text-decoration: none;
}

.form-check label {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

#logo-svg {
  width: 2rem;
  fill: #fff;
  animation: rotateAnimation 3s infinite linear;
}
  
/* Logo animation */
@keyframes rotateAnimation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

/* Delete goal */
.control-icon {
  width: 1.2rem;
  cursor: pointer;
}

.control-icon:hover {
  transform: scale(1.2);
}

/* Tasks */
.card.card-task {
  width: 40%;
}

/* Schedule */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked ~ label {
  color: green;
}

.checkbox-container label {
  cursor: pointer;
  user-select: none;
}

/* Calendar */
.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
}

.calendar {
  height: 92vh;
}

.calendar > .row {
  height: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.calendar-controls button {
  width: 6rem;
}

.calendar td {
  cursor: pointer;
}

.calendar td:hover {
  background: #eee;
}

.calendar td.today {
  background: #eee;
}

.calendar td.scheduled-date {
  background: #8B0000;
  color: #eeeeee;
}

.calendar td.completed {
  background: #025702;
  color: #eeeeee;
}

.calendar td.scheduled-date:hover {
  opacity: 0.9;
}

.calendar td.scheduled-date:active {
  opacity: 1;
}

.calendar td.selected-date {
  background: #DAA520;
}

.prev-month-day {
  color: #ccc;
}

.next-month-day {
  color: #ccc;
}

#scheduled-tasks {
  height: 92vh;
  overflow-y: auto;
}

#scheduled-tasks .card {
  height: 100%;
}
#scheduled-tasks .row {
  height: 100%;
}

#scheduled-tasks .card .card-body {
  height: fit-content;
}

.scroll-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.not-completed {
  box-shadow: 0 0 1px #000000;
}

.completed {
  box-shadow: 0 0 1px #025702;
  color: #025702;
}

/* Footer */
footer a {
  display: inline-block;
  margin: 2rem;
  width: 2rem;
}

footer a:hover .social-svg {
  fill: rgba(255, 255, 255, 0.3);
}

.social-svg {
  fill: #fff;
  width: 100%
}

@media (max-width: 768px) {
  .calendar {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .calendar {
    height: 100%;
  }
  #scheduled-tasks {
    height: 100%;
  }
}


@media (max-width: 350px) {
  .calendar th {
    font-size: 10px;
  }
}
