html {
  min-height: 100%;
}

body{
  background: #fafafa;
  min-height: 100vh;
}

header {
  height: 10vh;
}

header nav {
  z-index: 99;
}

#main {
  min-height: 90vh;
}

#goals-board .card-header {
  min-height: 90px;
}

#goals-nav {
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

.form-check label {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

#logo-svg {
  width: 2rem;
  fill: #fff;
  animation: rotateAnimation 3s infinite linear;
}
  
/* Logo animation */
@keyframes rotateAnimation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

/* Delete goal */
.delete-icon {
  width: 1.2rem;
  cursor: pointer;
}

.delete-icon:hover {
  transform: scale(1.2);
}

/* Tasks */
.card.card-task {
  width: 40%;
}

/* Schedule */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked ~ label {
  color: green;
}

.checkbox-container label {
  cursor: pointer;
  user-select: none;
}

/* Calendar */
.calendar {
  flex-grow: 1;
}

.calendar > .row {
  height: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.calendar-controls button {
  width: 6rem;
}

.calendar td {
  cursor: pointer;
}

.calendar td:hover {
  background: #eee;
}

/* .calendar td.selected {
  background: #ddd;
} */

.calendar td.today {
  background: #eee;
}

.calendar td.scheduled-date {
  background: #8B0000;
  color: #eeeeee;
}

.calendar td.completed {
  background: #025702;
  color: #eeeeee;
}

.calendar td.scheduled-date:hover {
  opacity: 0.9;
}

.calendar td.scheduled-date:active {
  opacity: 1;
}

.calendar td.selected-date {
  background: #DAA520;
}

.prev-month-day {
  color: #ccc;
}

.next-month-day {
  color: #ccc;
}

#scheduled-tasks .card {
  height: 100%;
}
#scheduled-tasks .row {
  height: 50vh;
}

#scheduled-tasks .card .card-body {
  height: fit-content;
}

.scroll-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.not-completed {
  box-shadow: 0 0 1px #000000;
  /* color: #0d6efd; */
}

.completed {
  box-shadow: 0 0 1px #025702;
  color: #025702;
}

/* Footer */
footer a {
  display: inline-block;
  margin: 2rem;
  width: 2rem;
}

footer a:hover .social-svg {
  fill: rgba(255, 255, 255, 0.3);
}

.social-svg {
  fill: #fff;
  width: 100%
}
