{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Create Task{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <div class="col-lg-6 mt-3 offset-lg-3 shadow-lg p-5">
      <div class="d-flex align-items-center mb-3 title-wrapper">
        <a href="{% url add_task_url %}" class="float-start mt-1" id="go_back_arrow_add">
          <img src="{% static 'svg/back_icon.svg' %}" alt="back-icon" class="control-icon">
        </a>
        <h1 class="text-center h3 mb-0 mx-auto d-flex align-items-center">
          Add Task
        </h1>
      </div>
      {% if form.errors %}
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <form method="post" class="my-5" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.description|as_crispy_field }}
        </div>
        <input type="hidden" name="{{ form.goal.name }}" value="{{ goal }}">
        <input type="hidden" name="{{ form.user.name }}" value="{{ user.id }}">
        <button type="submit" class="btn btn-lg btn-primary w-100">Create Task</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
