{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Meta tags for SEO -->
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <!-- Title -->
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="d-flex flex-column justify-content-between">
  {% include './nav.html' %}
  {% block content %}
  {% endblock %}
  {% include './footer.html' %}
  {% block js %}{% endblock %}
</body>
</html>
