{% extends "./base.html" %}
{% load static %}

{% block title %}Tasks Scheduled{% endblock %}

{% block content %}
<div class="container calendar">
  <div class="calendar-controls d-flex justify-content-between">
      <button id="prev-month" class="btn btn-dark">Previous</button>
      <span id="current-month-year"></span>
      <button id="next-month" class="btn btn-dark">Next</button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center bg-dark text-light">Sun</th>
        <th class="text-center bg-dark text-light">Mon</th>
        <th class="text-center bg-dark text-light">Tue</th>
        <th class="text-center bg-dark text-light">Wed</th>
        <th class="text-center bg-dark text-light">Thu</th>
        <th class="text-center bg-dark text-light">Fri</th>
        <th class="text-center bg-dark text-light">Sat</th>
      </tr>
    </thead>
    <tbody>
      <!-- Fill in the calendar days here -->
    </tbody>
  </table>
  <div class="calendar-controls d-flex justify-content-between">
    <button id="today" class="btn btn-dark">Today</button>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}