{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Edit Task{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <div class="col-lg-6 mt-3 offset-lg-3 shadow-lg p-5">
      <div class="d-flex align-items-center mb-3 title-wrapper">
        {% if slug %}
        <a href="{% url edit_task_url slug %}" class="float-start mt-1" id="go_back_arrow">
        {% else %}
        <a href="{% url edit_task_url %}" class="float-start mt-1" id="go_back_arrow">
        {% endif %}
          <img src="{% static 'svg/back_icon.svg' %}" alt="back-icon" class="control-icon">
        </a>
      </div>
      <h1 class="text-center h3">
        Edit your Task for
      </h1>
      <h2 class="text-center h3 title-wrapper">{{ goal_title }}</h2>
      {% if form.errors %}
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <form method="post" class="my-5">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.description|as_crispy_field }}
        </div>
        {{ goals.0.2 }}
        <div class="mb-3">
            {{ form.completed|as_crispy_field }}
        </div>
        <input type="hidden" name="{{ form.goal.name }}" value="{{ goal_id }}">
        <input type="hidden" name="{{ form.user.name }}" value="{{ user.id }}">
        <button type="submit" class="btn btn-lg btn-primary w-100">Edit Task</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
