{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Scheduled Task{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <div class="col-lg-6 mt-3 offset-lg-3 shadow-lg p-5">
      <h1 class="text-center h3 mb-3 title-wrapper">Edit Task <span class="d-block">{{ task_title }}</span></h1>
      {% if form.errors %}
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <form method="post" class="my-5" novalidate>
        {% csrf_token %}
        <div class="mb-3 d-flex justify-content-around">
          {{ form.start_time|as_crispy_field }}
          {{ form.end_time|as_crispy_field }}
        </div>
          {{ form.date|as_crispy_field }}
          {{ form.completed|as_crispy_field }}
          <button type="submit" class="btn btn-primary p-2 mt-4 w-100">Edit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
