{% extends "./base.html" %}
{% load static %}

{% block title %}Goal Detail{% endblock %}

{% block content %}
<div class="modal" id="delete-goal-modal"></div>
<h1 class="my-5 text-center h2">Your Goal Details</h1>
<div class="container my-3">
    <div class="card-body p-2 row">
        {% if object.all_tasks_done %}
        <div class="card bg-light p-2 col-md-8 offset-md-2 completed">
        {% else %}
        <div class="card bg-light p-2 col-md-8 offset-md-2">
        {% endif %}
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
                <a href="{% url 'goals_board' %}" class="mt-1">
                  <img src="{% static 'svg/back_icon.svg' %}" alt="back-icon" class="control-icon">
                </a>
              <p class="mx-4 mt-1">Created: {{ object.created_at }}</p>
              <div class="d-flex flex-column">
                <img src="{% static 'svg/delete_icon.svg' %}" alt="delete-icon" class="delete-icon control-icon mb-1" data-url="{% url 'delete_goal' slug=goal.slug %}" data-txt="goal">
                <a class="mb-1 mb-3" href="{% url 'edit_goal_from_details' slug=goal.slug %}">
                    <img src="{% static 'svg/edit_icon.svg' %}" alt="edit-icon" class="control-icon">
                </a>
              </div>
            </div>
            
            <h2 class="h4 text-center my-5"><sup class="d-block h5 m-0">Title</sup>{{ object.title }}</h2>
            <p class="text-center mb-5"><sup class="d-block h5 m-0">Description</sup>{{ object.description }}</p>
            <p class="m-0">Deadline: {{ object.expected_deadline }}</p>
            <p class="m-0">Tasks: {{ object.task_count }}</p>
            {% if object.all_tasks_done %}
              <p class="m-0">All Tasks Done</p>
            {% else %}
              {% if object.tasks_to_complete > 1 %}
              <p class="m-0">You have to complete {{ object.tasks_to_complete }} tasks</p>
              {% else %}
              <p class="m-0">You have to complete {{ object.tasks_to_complete }} task</p>
              {% endif %}
            {% endif %}
            <a class="btn btn-success d-block mt-3" href="{% url 'add_task' slug=object.slug %}">Add Task</a>
          </div>
        </div>
      </div>
</div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

