{% extends "./base.html" %}
{% load static %}

{% block title %}Goal Detail{% endblock %}

{% block content %}
<div class="modal" id="delete-goal-modal"></div>
<h1 class="text-center h3 my-5">Your Task Details</h1>
<div class="container my-3 row">
    <div class="card-body p-2">
			{% if object.completed %}
        <div class="card bg-light p-2 completed col-md-8 offset-md-3">
			{% else %}
				<div class="card bg-light p-2 col-md-8 offset-md-3">
			{% endif %}
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <p>Created: {{ object.created_at }}</p>
              <div class="d-flex flex-column">
                <img src="{% static 'svg/delete_icon.svg' %}" alt="delete-icon" class="float-end delete-icon control-icon" data-url="{% url 'delete_task' slug=object.slug %}" data-txt="task">
                <a class="my-1" href="{% url 'edit_task' slug=object.slug %}">
                  <img src="{% static 'svg/edit_icon.svg' %}" alt="edit-icon" class="control-icon">
                </a>
              </div>
            </div>
            <div>
						{% if object.completed %}
						<p class="text-center m-2">This task has been completed.</p>
            {% else %}
						<p class="text-center m-2">This task is not yet completed.</p>
            {% endif %}
            </div>
            <div class="container">
              <h3 class="h4 text-center my-5"><sup class="d-block h5 m-0">Title</sup>{{ object.title }} ({{ object.goal.title }})</h3>
              <p class="text-center my-5"><sup class="d-block h5 m-0">Description</sup>{{ object.description }}</p>
              <p class="text-center m-2">Scheduled tasks: {{ object.scheduled_task_count }}</p>
              <p class="text-center m-2">Completed Scheduled Tasks: {{ object.completed_task_count }}</p>
              <p class="text-center m-2">Not Completed Scheduled Tasks: {{ object.not_completed_task_count }}</p>
              <p class="text-center m-2">Faild Scheduled Tasks: {{ object.failed_task_count }}</p>
              <div class="btn-group w-100 my-3" role="group" aria-label="Goal status.">
                {% if not object.completed %}
                <a href="{% url 'complete_task' slug=object.slug %}" class="btn btn-success col-6">Complete</a>
                <a class="btn btn-outline-primary col-6" href="{% url 'schedule_task' slug=object.slug %}">Schedule</a>
                {% else %}
                <a href="{% url 'uncomplete_task' slug=object.slug %}" class="btn btn-outline-success col-6">Uncomplete</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

